* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ebe9e1;
}

.header .container {
    position: relative;
}

.header img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(70%)
}

.header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ebe9e1;
}

.recipes .container {
    border: 1px solid black; /* to debug */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 40px;
    align-content: center;
}

.recipe-card {
    background-color: #fff;
    width: 250px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.recipe-card h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0;
}

.recipe-card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.recipe-card .button-like {
    display: block;
    margin: 10px auto;
    width: fit-content;
    background-color: #d6536d;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 8px;
}